.welcome{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
}

.welcome_message{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 4rem;
}



